<% provide(:title, "Home") %>

<div class="center">
  <h1>Welcome to Photo Right!</h1>
  <p>
    Nick Bond's Photography website where you can view my work and read my blog. Enjoy!
  </p>

  <table class="dynamic-home-data">
    <tr>
      <td class="home-page-data">
        <% unless @photo == nil %>
          <h2>Latest Photograph</h2>
          <div id="photo-<%= @photo.id %>" class="photo">
            <div class="photo-wrap">
              <div class="photo-display">
                <%= image_tag(@photo.picture.url, height: '400') if @photo.picture? %>
                <div class="photo-caption">
                  <span class="content"><b><%= @photo.caption %></b></span>
                  <span class="timestamp">
                    <%= @photo.created_at.strftime("%d/%m/%Y") %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </td>
      
      <td class="home-page-data">
        <% unless @blogpost == nil %>
          <h2><%= @blogpost.title %></h2>
          <div id="blogpost-<%= @blogpost.id %>">
            <span class="timestamp">
              <i><%= @blogpost.created_at.strftime("%d/%m/%Y") %></i>
            </span>
            <span class="content"><%= @blogpost.content %></span>
          </div>
        <% end %>
      <td>
    </tr>
  </table>
</div>


