<%= form_for(@photo, :url => photo_catalogue_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :subject, placeholder: "Subject" %>
    <%= f.text_field :caption, placeholder: "Caption" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>