<li id="photo-<%= photo.id %>" class="photo">
  <div class="photo-wrap">
    <div class="photo-display">
      <%= image_tag(photo.picture.url, height: '400') if photo.picture? %>
      <div class="photo-caption">
        <span class="content"><b><%= photo.caption %></b></span>
        <span class="timestamp">
          <%= photo.created_at.strftime("%d/%m/%Y") %>
        </span>
        <% if logged_in? %>
          <%= link_to "delete", photo_catalogue_path(:id => photo.id), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</li>