<% provide(:title, "Photo Catalogue") %>

<div class="center">
  <h1>Photo Catalogue</h1>
  
  <% if logged_in? %>
    <div class="row">
        <section class="photo_form">
          <%= render 'photos/photo_form', locals: {photo: @photo} %>
        </section>
    </div>
  <% end %>
  
  <div class="search">
    <h4> Search </h4>
    <%= form_tag(photo_catalogue_path, method: :get) do %>
      <%= select_tag(:search, options_for_select(([params["search"]] + ["All"] + all_subjects).uniq)) %>
      <%= submit_tag ("Search") %>
    <% end %>
  </div>
  
  <% unless @photos == nil || @photos.empty? %>
    <ol class="photos">
      <%= render @photos %>
    </ol>
    <%= will_paginate @photos %>
  <% end %>
</div>