<footer class="footer">
  <small>
    The Photo Right website by Alistair Jeffreys
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Photo Catalogue", "#" %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", "#" %></li>
    </ul>
  </nav>
</footer>